<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for product in products %}
    <title>{{ product.title }}</title>
    {% endfor %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <script src="{% static 'js/navbar.js' %}"></script>
<body class="bg-gray-100">

  

  <nav class="bg-white w-auto h-auto flex justify-between shadow-2xl static">
    <div class="m-4">
      <a class="text-2xl cursor-pointer" href="/prototype/">Главная</a>
    </div>
    <div class="w-auto h-auto flex flex-row">
      {% if request.user.is_authenticated %}
        <a class="cursor-pointer m-4 md:mr-6 w-10 "><img src="/media/photos/icon/cart.png"></a>
      {% else %}
        <a class="text-2xl cursor-pointer m-4" href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
  </nav>

    

<div class="flex flex-col mt-10 md:mt-20 w-full h-full items-center">
  <div class="bg-white lg:w-1/4 w-5/6 md:w-1/2 sm:w1/4 md:pb-24 text-center p-4 md:p-10 rounded-lg shadow-2xl">
    {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
          <p class="text-green-600">{{ message }}</p>
      {% else %}
          <p class="text-red-600">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
      <h1 class="text-2xl mb-8 pt-4">Авторизация</h1>
      <form method="post" class="w-full text-xs">
        <div class="text-start">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
          <button type="submit" class="border-2 border-gray-500 bg-gray-100 shadow-2xl w-3/5 h-10 rounded-lg hover:bg-white mt-4 focus:bg-gray-200 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-200 active:shadow-lg transition duration-300 ease-in-out">Войти</button>
      </form>
      <h1 class="text-sm text-sky-600 mt-4"><a href="/prototype/register">Зарегистрироваться</a></h1>
</div>
</div>




</body>
</html>