<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for product in products %}
    <title>{{ product.title }}</title>
    {% endfor %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}"></link>
      <script src="{% static 'js/navbar.js' %}"></script>
    </head>
<body class="bg-gray-100 duration-200 scrollbar">

  

  <nav class="bg-white w-auto h-auto flex justify-between shadow-2xl static">
    <div class="m-4">
      <a class="text-2xl cursor-pointer" href="/prototype/">Главная</a>
    </div>
    <div class="w-auto h-auto flex flex-row">
      {% if request.user.is_authenticated %}
        <a class="cursor-pointer m-4 md:mr-6 w-10 "><img src="/media/photos/icon/cart.png"></a>
      {% else %}
        <a class="text-2xl cursor-pointer m-4" href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
  </nav>

    



        {% for product in products %}
          
            <div class="flex flex-col md:flex-row w-auto h-auto bg-fon-gray pb-5">
                <div class="md:w-1/2 w-full align-middle h-full">
                        <img src="{{ product.photo.url }}" class="object-cover w-11/12 lg:m-40 lg:mt-20  lg:w-2/3 h-auto shadow-2xl aspect-video relative block m-auto mt-7 align-middle md:m-4 md:mt-10" loading="lazy">
                </div>

                <div class="md:w-1/2 w-auto lg:mt-20 mt-4 md:mt-8 h-auto md:flex md:flex-col md:gap-4 mx-4">
                    <h1 class="text-6xl mb-3">{{ product.title }}</h1>
                    <hr class="sm:w-auto w-1/2">
                    <h1 class="mt-3 text-4xl mb-3">Описание</h1>
                    <h3 class="mt-3 justify-start">{{product.context}}</h3>
                    <span class="mt-3 text-3xl" style="color: red;">{{product.price}} <span style="color: black;">руб</span></span>
                </div>
            </div> 

        {% endfor %}




</body>
</html>