<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script src="https://telegram.org/js/telegram-web-app.js"></script>
      <script src="{% static 'js/navbar.js' %}"></script>
    </head>
<body class="bg-gray-100 text-black duration-200">

  <nav class="bg-white w-auto h-auto flex justify-between shadow-2xl static">
    <div class="m-4">
      <a class="text-2xl cursor-pointer" href="/prototype/">Главная</a>
    </div>
    <div class="w-auto h-auto flex flex-row">
      {% if request.user.is_authenticated %}
        <a class="cursor-pointer m-4 md:mr-6 w-10 "><img src="/media/photos/icon/cart.png"></a>
      {% else %}
        <a class="text-2xl cursor-pointer m-4" href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
  </nav>

      <div class="relative m-auto block">
        <div class="flex flex-wrap justify-items-stretch justify-center items-center">

        {% for item in product %}

        <div class="flex flex-row max-w-xl m-5 rounded-3xl shadow-md bg-white">
          <a href="product/{{ item.id }}">
          <div class="flex flex-col aspect-video">

            <img src="{{ item.photo.url }}" class="object-cover w-96 h-auto rounded-t-lg shadow-md aspect-video" loading="lazy">

            <div class="m-5">
              <h3>{{ item.title }}</h3>
              <p>{{ item.price }}руб</p>
                <div class="justify-center items-center">
                  <button class="w-10" style="background-color: rgb(0, 128, 0);"> + </button>
                  <button class="ml-5 w-10" style="background-color: rgb(200, 10, 10);"> - </button>
                </div>
            </div>
          </div>
        </a>
        </div>
      {% endfor %}
          </div>
      </div>
    </body>
<script>

</script>
</html